
<!DOCTYPE html>
<html lang="en" class="bg-gray-800">
	<head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>匿名靠北</title>
		<link
			href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
			rel="stylesheet"
		/>
	</head>
	<body class="overflow-hidden">
		<div class="flex items-center justify-center h-screen">
			<div class="text-center">
				<h1 class="font-bold text-6xl mb-2 text-white">投稿成功</h1>
				<h1 class="text-3xl mb-8 text-white">你的審核代號:{{num}}</h1>
				<a href="/" class="">
					<button
						class="
							bg-blue-500
							hover:bg-blue-600
							text-white
							font-bold
							py-2
							px-4
							rounded
						"
					>
						返回
					</button></a
				>
			</div>
		</div>

	</body>
</html>
